



<div ng-controller="welcomeController">
    
    <h1>My Calculator</h1>
    <p>
        
        <div ng-show="showMeAdd">
            <h3>The result of adding {{opt1}} and {{opt2}} is {{total}}.</h3>
        </div>
        <div ng-show="showMeSubtract">
            <h3>The result of subtracting {{opt1}} and {{opt2}} is {{total}}.</h3>
        </div>
        <div ng-show="showMeMultiply">
            <h3>The result of multiplying {{opt1}} and {{opt2}} is {{total}}.</h3>
        </div>
        <div ng-show="showMeDivide">
            <h3>The result of dividing {{opt1}} and {{opt2}} is {{total}}.</h3>
        </div>
    </p>  
    <form name="myForm" class="css-form" novalidate>
        Operand 1:
        <input type="text" ng-model="num1" name="num1">
        <br />
        
        Operand 2:
        <input type="text" ng-model="num2" name="num2">
        <br />
        
        <input type="button" ng-click="add()" value=" + ">
        <input type="button" ng-click="subtract()" value=" - ">
        <input type="button" ng-click="multiply()" value=" * ">
        <input type="button" ng-click="divide()" value=" / ">
        </form>
        